* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.news-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  max-width: 1000px;
}

.newHeading {
  padding-bottom: 8px;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
}

.descriptionNews {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.news-card img {
  max-width: 177px;
  height: 128px;
  object-fit: cover;
  margin-top: 5px;
  cursor: pointer;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex: 1; */
}

.news-meta  {
  /* display: flex; */
  /* justify-content: flex-start; */
  /* gap: 10px; */
  font-size: 14px;
  color: rgb(140, 140, 140);
  font-family: monospace;
  font-weight: bolder;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .news-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .news-card img {
    max-width: 100%;
    height: auto;
  }

  
}
