body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.news-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.newHeading {
  padding-bottom: 8;
  font-family: "font-family-primary-fancy";
  font-size: 17;
  font-weight: 700;
  text-decoration: "none";
}
.descriptionNews {
  font-family: "owners";
  font-size: 1.2rem;
  line-height: 1.3125rem;
  display: -webkit-box; /* Use a flexible box for layout */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
  -webkit-line-clamp: 3; /* Limit text to 3 lines */
  line-height: 1.5; /* Adjust line height (optional) */
  max-height: calc(1.5em * 3);
}
.news-card img {
  max-width: 177px;
  height: 128px;
  object-fit: cover;
  margin-top: 5px;
  cursor: pointer;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.news-meta,
span {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-size: 14px;
  color: rgb(140, 140, 140);
  font-family: monospace;
  font-weight: bolder;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .news-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .news-card img {
    max-width: 100%;
    height: auto;
  }

  .news-meta {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .news-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .news-card img {
    max-width: 100%;
    height: auto;
  }

  .news-meta {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .news-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .news-card img {
    max-width: 100%;
    height: auto;
  }

  .news-meta {
    justify-content: center;
  }
}
